@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

/* Global styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Comfortaa", sans-serif;
  background-color: black;
  color: white; /* Ensures readable text */
  min-height: 100vh; /* Ensure background covers full page */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensure container centers everything */
.container {
  text-align: center;
}
