.project-code-inputs {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 20px 0;
}

.project-code-input {
    width: 40px !important;
    height: 48px;
}

.project-code-input input {
    text-align: center;
    font-size: 20px;
    padding: 0;
}

.dialog-content {
    min-width: 350px;
    padding: 20px !important;
}

.dialog-title {
    text-align: center;
}

.dialog-actions {
    padding: 16px 24px;
    justify-content: center !important;
}

.dialog-actions button {
    min-width: 100px;
} 